{% load cms_tags static sekizai_tags %}
<html>
    <head>
        <title>{% page_attribute "page_title" %}</title>
        {% render_block "css" %}
{#        {% addtoblock "css" %}#}
            <link href="{%  static 'css/styles.css' %}" rel="stylesheet" />
{#        {% endaddtoblock %}#}
    </head>
    <body class="d-flex flex-column">
        {% cms_toolbar %}

    {% cms_toolbar %}
        <main class="flex-shrink-0">
            <!-- Navigation-->
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container px-5">
                    <a class="navbar-brand" href="index.html">Text summarization tool</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                            <li class="nav-item"><a class="nav-link" href="index.html">Home</a></li>
                            <li class="nav-item"><a class="nav-link" href="about.html">About us</a></li>
                            <li class="nav-item"><a class="nav-link" href="contact.html">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- Page Content-->
            <section class="py-5">
                <div class="container px-5">
{#                    <h1 class="fw-bolder fs-5 mb-4">Company Blog</h1>#}
                    <div class="card border-0 shadow rounded-3 overflow-hidden">
                        <div class="card-body p-0">
                            <div class="row gx-0">
                                <div class="col-lg-6 col-xl-6">
                                    <div class="bg-featured-blog" style="background: rgb(52, 58, 64)">
                                        <div class="container" >
                                            <form id="text-post-form" method="post" style="display:grid; padding: 50px 50px 20px; grid-gap: 20px;height: 100%;">
                                                {% csrf_token %}
                                                <div class="form-group">
                                                    <textarea id="full_text" name="story" style='width: 100%; min-height: 600px;height: 100%;; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px; font-family: "Segoe UI", sans-serif;'
                                                      rows="5" cols="33">Johannes Gutenberg (1398 – 1468) was a German goldsmith and publisher who introduced printing to Europe. His introduction of mechanical movable type printing to Europe started the Printing Revolution and is widely regarded as the most important event of the modern period. It played a key role in the scientific revolution and laid the basis for the modern knowledge-based economy and the spread of learning to the masses.

Gutenberg many contributions to printing are: the invention of a process for mass-producing movable type, the use of oil-based ink for printing books, adjustable molds, and the use of a wooden printing press. His truly epochal invention was the combination of these elements into a practical system that allowed the mass production of printed books and was economically viable for printers and readers alike.

In Renaissance Europe, the arrival of mechanical movable type printing introduced the era of mass communication which permanently altered the structure of society. The relatively unrestricted circulation of information—including revolutionary ideas—transcended borders, and captured the masses in the Reformation. The sharp increase in literacy broke the monopoly of the literate elite on education and learning and bolstered the emerging middle class.</textarea>
                                                </div>
                                                <div class="form-group" style="justify-self: center;">
                                                    <input class="btn btn-primary" type="submit" id="submit" value="Submit">
                                                </div>
                                            </form>
                                        </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-xl-6 py-lg-5" style="display: flex;flex-direction: column;align-items: flex-start;">
                                    <div class="p-4 p-md-5">
                                        <div id="result" class="badge bg-primary bg-gradient rounded-pill mb-2">Example</div>
                                        <div class="h3 fw-bolder">Summary:</div>
                                        <div id="spinner" class="spinner-border text-primary" role="status" style="margin-top: 20px;">
                                          <span class="sr-only"></span>
                                        </div>
                                        <p id="summary-result">The German Johannes Gutenberg introduced printing in Europe. His invention had a decisive contribution in spread of mass-learning and in building the basis of the modern society.
Gutenberg major invention was a practical system permitting the mass production of printed books. The printed books allowed open circulation of information, and prepared the evolution of society from to the contemporary knowledge-based economy.</p>
                                    </div>
                                    <hr style="width:50%;text-align:center; margin-left: 3rem">
                                    	<div class="rating rating2" style="margin-left: 3rem">

                                            <a href="#5" title="Give 5 stars">★</a>
                                            <a href="#4" title="Give 4 stars">★</a>
                                            <a href="#3" title="Give 3 stars">★</a>
                                            <a href="#2" title="Give 2 stars">★</a>
                                            <a href="#1" title="Give 1 star">★</a>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
{#            <section class="py-5 bg-light">#}
{#                <div class="container px-5">#}
{#                    <div class="row gx-5">#}
{#                        <div class="col-xl-8">#}
{#                            <h2 class="fw-bolder fs-5 mb-4">News</h2>#}
{#                            <div class="mb-4">#}
{#                                <div class="small text-muted">May 12, 2022</div>#}
{#                                <a class="link-dark" href="#!"><h3>Jakiś tekst</h3></a>#}
{#                            </div>#}
{#                            <div class="text-end mb-5 mb-xl-0">#}
{#                                <a class="text-decoration-none" href="#!">#}
{#                                    More news#}
{#                                    <i class="bi bi-arrow-right"></i>#}
{#                                </a>#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="col-xl-4">#}
{#                            <div class="card border-0 h-100">#}
{#                                <div class="card-body p-4">#}
{#                                    <div class="d-flex h-100 align-items-center justify-content-center">#}
{#                                        <div class="text-center">#}
{#                                            <div class="h6 fw-bolder">Contact</div>#}
{#                                            <p class="text-muted mb-4">#}
{#                                                For press inquiries, email us at#}
{#                                                <br />#}
{#                                                <a href="#!">press@domain.com</a>#}
{#                                            </p>#}
{#                                            <div class="h6 fw-bolder">Follow us</div>#}
{#                                            <a class="fs-5 px-2 link-dark" href="#!"><i class="bi-twitter"></i></a>#}
{#                                            <a class="fs-5 px-2 link-dark" href="#!"><i class="bi-facebook"></i></a>#}
{#                                            <a class="fs-5 px-2 link-dark" href="#!"><i class="bi-linkedin"></i></a>#}
{#                                            <a class="fs-5 px-2 link-dark" href="#!"><i class="bi-youtube"></i></a>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </section>#}
        </main>
        <footer class="bg-dark py-4 mt-auto">
            <div class="container px-5">
                <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                    <div class="col-auto"><div class="small m-0 text-white">Copyright &copy; Your Website 2022</div></div>
                    <div class="col-auto">
                        <a class="link-light small" href="#!">Privacy</a>
                        <span class="text-white mx-1">&middot;</span>
                        <a class="link-light small" href="#!">Terms</a>
                        <span class="text-white mx-1">&middot;</span>
                        <a class="link-light small" href="#!">Contact</a>
                    </div>
                </div>
            </div>
        </footer>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        {% render_block "js" %}
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

    <script>
        $('#spinner').css('display', 'none');
        function getCookies(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            console.log(cookieValue)
            return cookieValue;
        }
        function prepareRequest(request) {
            request.setRequestHeader('Cache-Control', 'no-cache');
            request.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
            request.setRequestHeader('X-CSRF-TOKEN', getCookies('csrf_token'));
        }

        $('#text-post-form').on('submit', function(event){
        event.preventDefault();

        let form_data = $('#text-post-form').serialize();
        $('#summary-result').css('display', 'none');
        $('#spinner').css('display', 'inline-block');
        $.ajax({
                url: '{% url "post_text" %}',
                type: 'POST',
                data: form_data,
                success: function(data) {
                    $('#summary-result').text(data.summary)
                    $('#result').text("Success")
                    $('#spinner').css('display', 'none');
                    $('#summary-result').css('display', 'inline-block');
                },
                error: function(data) {
                    $('#error').html(data.error);
                    $('#summary-result').text('Something went wrong...')
                    $('#result').text("Error")
                    $('#spinner').css('display', 'none');
                    $('#summary-result').css('display', 'inline-block');
                }
            });
        });
    </script>

    </body>
</html>

